
@import url('https://fonts.googleapis.com/css?family=Markazi+Text:600|Ubuntu|Arvo|Fira+Sans');

/* Access-Control-Allow-Origin: * */

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.beer-main {
  background-image: url('/websiteImages/woodPanels.jpeg');
  height: 120%;
  min-height: 110vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* 

NAVBAR

*/

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar-bottom{
  width: 100%;
  float: left;
  clear: both;
  padding: 0 0 2% 0;
  background: linear-gradient(antiquewhite,	#a9916b);
  box-shadow:0 2px 2px;
  box-shadow: 0 20px 20px -20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar {
  display: flex;
  position: relative;
  height: 120px;
  color: white;
  align-items: center;
  background: antiquewhite;
  z-index: 5;
}


.about {
  background: antiquewhite;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 4%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.statement{
  flex-direction: column;
  color: #000;
  margin-bottom: 40px;
  font-size: 23px;
  padding: 20px;
  border-radius: 35px;
  width: 40%;
  float: right;
  margin-right: 5vw;
  text-align: center;
  font-family: 'Fira Sans'
}

.statement h2{
  font-size: 21px;
  line-height: 1.4
}

.founder-statement{
  flex-direction: column;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  width: 65%;
  font-family: 'Fira Sans'
}

.founder-statement h1{
  font-family: 'Arvo';
  font-size: 32px;
}

.founder-statement h2{
  font-size: 24px;
}

.my-image{
  height: 475px;
  margin-left: 5vw;
}

.my-image img{
  height: 70%;
  border-radius: 20px;
}


.other-info {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

.other-info h1{
  font-size: 11px;
  position: relative;
  top: 23px;
}

.other-info li{
  width: 100px;
  height: 75px;
  margin: 0 15px 0 15px;
  list-style-type: none;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
  background: #F5DEB3;
  color: black;
  overflow: hidden;
  position: relative;
  right: 20px;
}
.other-info li{
  position: relative;
  align-content: center;
  z-index: 1;
}

.other-info li:hover{
  color: white;
}
.other-info li:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 110%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: #dda42a;
  z-index: -1;
  transition: transform 0.32s;
}

.other-info li:hover::after{
  transform: scaleY(1);
}

.login-container{
  float: right;
  margin: 0 15px 0 15px;
  position: relative;
}
.login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  flex: 1;
  color: black
}

.login-box{
  background-color: rgb(230, 182, 141);
  box-shadow: 0 0 2pt 1.5pt black;
  border-radius: 10px;
}

.login-box h3{
  color: black;
  padding: 15px;
  font-weight: 450
}

.login-box:hover {
  box-shadow: 0 0 4pt 2pt black;
}

.logo {
  flex: 1;
  position: relative;
  left: 40px;
}

.logo img {
  height: 110px;
}

.auth-form{
  text-align: center;
  margin: 6% auto;
  padding: 50px;
  background: antiquewhite;
  border-radius: 15px;
  width: 40%
}

.logout{
  position: relative;
  bottom: 10px;
  padding: 15px;
  background: rgb(230, 182, 141);
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 2pt 2pt black
}

.logout:hover{
  box-shadow: 0 0 3pt 3pt black
}

.cart-logout {
  float: right;
  margin-right: 45px;
}

.cart-logout img {
  width: 45px;
  height: 45px;
  position: relative;
  top: 5px;
}

.cart {
  text-align: center;
  width: 60vw;
  margin: 0 auto;
  margin-top: 4.5%;
  box-shadow: 0 0 3pt 2pt gray;
  background: antiquewhite;
  padding: 30px;
  border-radius: 15px;
}

.cart td {
  padding: 0.5rem;
  margin: 0 auto;

}

.cart .cart-name-col {
  width: 100%;
  margin: 0 auto;
}

.cart thead {
  background-color: lightgrey;
  border: none;
}

.cart tfoot {
  font-weight: bold;
}

.cart-line-price, .cart-line-quantity, .cart-line-total {
  text-align: right;
  margin: 0 auto;
}

.cart .car-price-col, .car-total-col {
  width: 20vw;
  margin: 0 auto;
}

.add-to-cart {
  display: none;
  margin: 0 auto;
}

.add-to-cart:active  {
  display: contents;
  margin: 0 auto;
}


/* 
INTRO PAGE 
*/

.intro-background {
  padding-top: 2%;
  height: 97vh;
  width: 100%;
  background-image: url('/websiteImages/backgroundImage.png');
  box-shadow: 0px 0pt 5pt 6pt #492D1F;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin: auto;
}

.intro-text{
  margin-top: 10vh;
  margin-left: 15%;
  text-align: center;
  background-color: #492D1F;
  box-shadow: 0 0 2pt 2pt #492D1F;
  border-radius: 25px;
  width: 350px;
  padding: 1%;
}

.intro-text h1 {
  color: white;
  font-size: 48px;
  font-family: 'Arvo';
}

.intro-text h2 {
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Fira Sans';
  color: white;
  font-size: 19px;
  border-radius: 15px;
  padding-top: 3.5vh;
  line-height: 1.4;
}

form div {
  margin: 1em;
  display: inline-block;
}


.main { 
  display: flex; 
}

.all-breweries-items{
  text-align: center;
  justify-content: center;
  align-content: center;
  border-radius: 35px;
  background: cornsilk;
  padding-bottom: 3%;
  width: 82%;
  margin: 6% auto;
  box-shadow: 0pt 0pt 3pt 3pt brown
}

.all-breweries-background {
  background-image: url('/websiteImages/woodPanels.jpeg');
  height: 120%;
}

.all-breweries {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  margin-top: 3%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.show-brew {
  margin-top: 4.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.show-brew h1{
  font-family: 'Arvo'
}

.show-brew select {
  position: relative;
  align-self: center;
  width: 6em;
  height: 1.5em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: .25em;
  font-size: 18px;
}


.show-brew h2 {
  font-size: 22px;
  font-family: 'Fira Sans'
}

.toggle-brew button {
  margin: auto;
  margin-bottom: 1%;
}

.show-brew button {
  -webkit-transition: all 260ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 260ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 260ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 260ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 260ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  width: 180px;
  height: 60px;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}

.show-brew button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.show-brew button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.brewery-item {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin: 16px 8px;
  width: 190px;
  height: 165px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod;
}

.brewery-item:hover {
  box-shadow: 0 0pt 6pt 5pt darkgoldenrod;
}

.brewery-item img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.brewery-name {
  text-align: center;
  vertical-align: text-bottom
}

.brewery-name h1{
  color: black;
  font-family: 'Fira Sans';
  font-size: 18px;
}

.beer-image-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
  background: antiquewhite;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0 0 2pt 2pt rgba(165, 42, 42, 0.575);
}

.beer-image {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 350px;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod;;
  text-align: center;
}

.beer-image:hover{
  box-shadow: 0 0 6pt 5pt darkgoldenrod;
}

.beer-image img{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beer-image h2 {
  color: black;
  font-family: 'Fira Sans';
  font-size: 18px;
}

.beer-image button {
  position: absolute;
}

.add-review-container {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 220px;
  border-radius: 25px;
}

.add-review {
  text-align: center;
}

.add-review button {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background: #F4A460;
  box-shadow: 0 4px #999;
  border-width: 0;
  font-size: 18px;
}

.add-review button:active {
  background-color: #F4A460;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.review-form{
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 280px;
  position: relative;
  margin: 0 auto;
  background: brown;
  border-width: 4px;
  border-style: solid;
  border-radius: 15px;
  margin-top: 4vh;
  margin-bottom: 3vh;
  padding: 1vw;
  z-index: 5;
  right: 33.5vw;
  text-align: center;
  /* margin: 0 auto; */
}

.review-title{
  display: flex;
  line-height: 10px;
  padding: 0;
  margin-bottom: 1%;
}

.review-form h2{
  font-size: 17px;
  margin-right: 1vw;
}

.review-form button{
  width: 125px;
  height: 55px;
  border-radius: 25px;
  font-size: 15px;
  background: #F4A460;
  align-self: center;
  margin-top: 20px;
  box-shadow: 0 4px #999
}

.review-form button:active {
  background-color: #F4A460;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.review-title input{
  margin-left: 51px;
  font-size: 16px;
  width: 50%
}

.review-content {
  display: flex;
}

.review-content textarea {
  width: 90%;
  height: 100px;
  font-size: 16px;
}

.rating-container {
  display: flex;
  justify-content: center
}

.rating-container h2{
  position: relative;
  top: 20px;
}

.rating {
  direction: rtl;
  width: 100%;
  position: relative;
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  color: gold;
  font-size: 40px;
  width: 40px;
  top: 18px;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  cursor: pointer;
  color: gold;
  -webkit-animation: mymove 2s;
  animation: mymove 2s;
  animation-direction:normal;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
     
@-webkit-keyframes mymove {
  from {color: gold;}
  to {color: gold;}
}

.single-beer {
  background-image: url('/websiteImages/woodPanels.jpeg');
  height: 120%;
}

.single-beer-brewery{
  background: white;
  margin: 0 auto;
  margin-top: 4%;
  padding: 12px;
  width: 15%;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 0 2pt 2pt darkgoldenrod;
}

.single-beer-brewery:hover {
  box-shadow: 0 0 4pt 3pt darkgoldenrod;
}

.single-beer-brewery img{
  max-width: 85%;
  max-height: 35vh;
}

.single-beer-description {
  padding: 1.5%;
  letter-spacing: 1.0px;
  background-color: brown;
  color: white;
  width: 55vw;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 3pt 2pt darkgoldenrod
}

.single-beer-description h1{
  font-size: 32px;
  font-family: 'Arvo'
}

.single-beer-description h2 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  font-family: 'Fira Sans';
}

.single-beer-details{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  align-content: space-between;
  justify-content: space-around;
}

.single-beer-image {
  display: flex;
  width: 20%;
  flex-direction: column;
  background-color: white;
  padding: 1.5%;
  align-content: space-between;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod
}

.single-beer-image img{
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  height: 350px;
  margin-bottom: 20px;
}

.single-beer-image form{
  width: 40%;
  font-size: 16px;
  text-align: center;
  border-radius: 10px; 
  flex: 1;
  margin-right: 4%;
  background: #F4A460;
  color: black;
}

.single-beer-image button{
  width: 40%;
  flex: 1;
  border-radius: 10px;
  margin-left: 4%;
  font-size: 16px;
  background: #F4A460;
  box-shadow: 0 4px #999;
}

.single-beer-image button:active{
  background-color: #F4A460;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.single-beer-checkout{
  display:flex;
}

.single-beer-checkout input{
  text-align: center;
}

.single-brewery{
  margin-top: 5%;
}

.single-brewery h1{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  background-color: #965807;
  width: 25vw;
  color: white; 
  font-size: 38px; 
  font-family: 'Markazi';
  padding: .5%;
}
.single-brew-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  align-content: space-between;
  justify-content: space-around;
}

.single-brew-description {
  flex: 1;
  margin-right: 2%;
  padding: 1.5%;
  background-color: #965807;
  width: 25vw;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 1.5pt 1.5pt #654321;
}

.single-brew-description h2 {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu';
  letter-spacing: 1.2px;
  line-height: 1.4;
}


.single-brew-image h2{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Ubuntu';
  letter-spacing: 1.2px;
}

.single-brew-image {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #965807;
  padding: 1.5%;
  align-content: space-between;
  justify-content: space-around;
  margin-left: 2%;
  border-radius: 15px;
  box-shadow: 0 0 1.5pt 1.5pt #654321;
}

.single-brew-image img{
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 2pt 1pt gray;
  border-radius: 25px;
  max-width: 50vw;
  max-height: 50vh;
  min-height: 60%;
}

button:focus{
  outline: 0
}

select:focus{
  outline: 0;
}

.popup-body h1 {
  margin: 0;
  padding: 0;
}
.popup-body {
  margin: 0;
  padding: 0;
  position: relative;
}
.popup {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 5;
}
.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: antiquewhite;
}

.popup_inner h1 {
  margin-top: 3%;
  font-size: 28px;
  color: black;
  background-color: antiquewhite;
  font-family: 'Arvo';
  width: 100%;
  box-shadow: 0 0 0 0;
}

.popup_inner h3 {
  font-family:'Ubuntu';
  font-size: 14px;
  margin: 20px;
}

.beer-image button{
  width: 100%
}

.popup-body button {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  right: 20px;
  height:30px;
  font-size: 14px;
  padding:0 12px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 15px;
  width: 240px;
}

.popup-body button:hover{
  background:#fff;
  color:#1AAB8A;
}

.popup-body button:before, .popup-body button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.popup-body button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.popup-body button:hover:before, .popup-body button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.all-reviews{
  margin: 8vh auto 2vh;
  width: 80%;
  background: antiquewhite;
  border-radius: 25px;
  padding: 22px;
  box-shadow: 0 0 2pt 2pt darkgoldenrod;
}

.all-reviews h1 {
  font-size: 36px;
  text-align: center;
  font-family: 'Arvo'
}

.reviews{
  width: 70vw;
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 3vh;
  border-style: solid;
  border-width: 4px;
}

.reviews h2{
  font-size: 28px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Arvo'
}

.reviews h3 {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Fira Sans'
}

/* 
Resources
*/

.resources{
  margin: 10vh auto;
  width: 85vw;
  background: antiquewhite;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 40px;
}

.resources h1{
  padding-top: 2vh;
  font-size: 26px;
  font-family: 'Arvo'
}

.resources h2{
  font-size: 18px;
  font-family: 'Fira Sans';
  padding-top: 8px;
  margin: 0 150px;
  padding-bottom: 20px;
}

.resources h4 {
  font-size: 15px;
  font-family: 'Fira Sans';
  padding: 12px;
}

/* 
Good Causes
 */

.cause{
  margin: 15px 40px;
  padding: 15px;
}


.cause h3{
  font-size: 20px;
  font-family: 'Fira Sans';
}
.cause img{
  max-height: 300px;
  margin: 0;
}

.cause-description{
  width: 60%;
  margin: 0 auto 5%;
}