body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.beer-main {
  background-color: cornsilk;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  display: flex;
  height: 6%;
  color: white;
  align-items: center;
  background-color: #d78258;
  padding-left: 3%;
}

.intro-background {
  padding-top: 2%;
  height: 97vh;
  width: 100%;
  background-image: url('http://127.0.0.1:8080/websiteImages/backgroundImage.png');
  box-shadow: 0px 0px 8px 8px #d78258;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin: auto;
}

.intro-text h1 {
  display: block;
  margin-left: 15%;
  text-align: center;
  margin-top: 6%;
  background-color: #7c795d;
  width: 25vw;
  color: white; font-size: 64px; font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: .5%;
}

.intro-text h2 {
  display: block;
  margin-left: 17%;
  text-align: center;
  margin-bottom: 3px;
  letter-spacing: 2px;
  background-color: #7c795d;
  width: 16vw;
  color: white; font-size: 32px; font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: 3%;
}


.navbar-bottom{
  width: 100%;
  float: left;
  clear: both;
  /* margin: 0 0 20px 0; */
  padding: 0 0 2% 0;
  background: linear-gradient(#d78258, 	#a9916b);
  /* border-bottom: 1px solid; */
  box-shadow:0 2px 2px;
  box-shadow: 0 20px 20px -20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar h1 {
  color: white;
  font-family: 'Lobster';
  font-size: 3rem;
  padding-top: 0.5rem;
  
}

.login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  flex: 1;
  justify-content: space-between;
  display: flex;
  margin-left: 74vw;
  flex-wrap: wrap;
  /* padding-right: 3% */
}

.login-box{
  padding-top: .5px;
  padding-right: 2px;
  padding-bottom: .5px;
  padding-left: 2px;
  background-color: #ccdcc1;
  box-shadow: 0 0 2pt 1.5pt black;
  border-radius: 10px;
  float: left;
  margin: 12px;
}

.signup-box {
  padding-top: .5px;
  padding-right: 2px;
  padding-bottom: .5px;
  padding-left: 2px;
  background-color: #ccdcc1;
  box-shadow: 0 0 2pt 1.5pt black;
  border-radius: 10px;
  float: right;
  margin: 5px;
  margin-top: 12px;
}

.login-box:hover {
  box-shadow: 0 0 3pt 2pt black;
}

.signup-box:hover{
  box-shadow: 0 0 3pt 2pt black;
}

.intro {
  flex: 1;
}

form div {
  margin: 1em;
  display: inline-block;
}


.main { 
  display: flex; 
}

.all-breweries {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.brewery-item {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin-bottom: 20px;
  width: 300px;
  height: 330px;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 0 0 4pt 3pt darkgoldenrod;
}

.brewery-item:hover {
  box-shadow: 0 0 7pt 6pt darkgoldenrod;
}

.brewery-item img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.brewery-name {
  text-align: center;
  vertical-align: text-bottom
}

.beer-image-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.beer-image {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
  width: 380px;
  height: 610px;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod;;
  text-align: center;
}

.beer-image:hover{
  box-shadow: 0 0 7pt 6pt darkgoldenrod;
}

.beer-image img{
  max-height: 90%;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.beer-image h2{
  color: black;
  font-family: 'Lobster';
  font-size: 28px;
  font-size: 3rem;
}

.single-brewery{
  margin-top: 5%;
}
.single-brewery h1{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  background-color: #7c795d;
  width: 25vw;
  color: white; 
  font-size: 80px; 
  font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: .5%;
  box-shadow: 0 0 3pt 2pt gray
}

.single-brew-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  align-content: space-between;
  justify-content: space-around;
}

.single-brew-description {
  display: flex;
  flex: 1;
  margin-right: 2%;
  padding: 1.5%;
  letter-spacing: 1.5px;
  line-height: 3.5vh;
  background-color: #7c795d;
  width: 25vw;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 3pt 2pt lightgray
}

.single-brew-description h2 {
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
}

.single-brew-image {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #7c795d;
  padding: 1.5%;
  align-content: space-between;
  justify-content: space-around;
  margin-left: 2%;
  border-radius: 15px;
  box-shadow: 0 0 3pt 2pt lightgray
}

.single-brew-image h2{
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: 'Signika', sans-serif;
}

.single-brew-image img{
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5pt 3pt gray;
  border-radius: 25px;
}

