body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.beer-main {
  background-color: cornsilk;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  display: flex;
  height: 6%;
  color: white;
  align-items: center;
  background-color: #d78258;
  padding-left: 3%;
}

.cart-logout {
  display: flex;
}

.cart-logout img {
  width: 65px;
  height: 65px;
  position: relative;
  top: 10px;
}

.cart {
  text-align: center;
  width: 60vw;
  margin: auto;
  margin-top: 4.5%;
  box-shadow: 0 0 3pt 2pt gray;
}

.cart td {
  padding: 0.5rem
}

.cart .cart-name-col {
  width: 25rem;
}

.cart thead {
  background-color: lightgrey;
  border: none;
}

.cart tfoot {
  font-weight: bold;
}

.cart-line-price, .cart-line-quantity, .cart-line-total {
  text-align: right;
}

.cart .car-price-col, .car-total-col {
  width: 10vw;
}

.add-to-cart {
  display: none;
}

.add-to-cart:active  {
  display: contents;
}

.intro-background {
  padding-top: 2%;
  height: 97vh;
  width: 100%;
  background-image: url('http://127.0.0.1:8080/websiteImages/backgroundImage.png');
  box-shadow: 0px 0px 20px 15px #d78258;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin: auto;
}

.intro-text h1 {
  display: block;
  margin-left: 15%;
  text-align: center;
  margin-top: 6%;
  background-color: #7c795d;
  width: 25vw;
  color: white; font-size: 64px; font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: .5%;
}

.intro-text h2 {
  display: block;
  margin-left: 17%;
  text-align: center;
  margin-bottom: 3px;
  letter-spacing: 2px;
  background-color: #7c795d;
  width: 16vw;
  color: white; font-size: 32px; font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: 3%;
}


.navbar-bottom{
  width: 100%;
  float: left;
  clear: both;
  /* margin: 0 0 20px 0; */
  padding: 0 0 2% 0;
  background: linear-gradient(#d78258, 	#a9916b);
  /* border-bottom: 1px solid; */
  box-shadow:0 2px 2px;
  box-shadow: 0 20px 20px -20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar h1 {
  color: white;
  font-family: 'Lobster';
  font-size: 3rem;
  padding-top: 0.5rem;
  
}

.login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  flex: 1;
  justify-content: space-between;
  display: flex;
  margin-left: 74vw;
  flex-wrap: wrap;
  /* padding-right: 3% */
}

.login-box{
  padding-top: .5px;
  padding-right: 2px;
  padding-bottom: .5px;
  padding-left: 2px;
  background-color: #ccdcc1;
  box-shadow: 0 0 2pt 1.5pt black;
  border-radius: 10px;
  float: left;
  margin: 12px;
}

.signup-box {
  padding-top: .5px;
  padding-right: 2px;
  padding-bottom: .5px;
  padding-left: 2px;
  background-color: #ccdcc1;
  box-shadow: 0 0 2pt 1.5pt black;
  border-radius: 10px;
  float: right;
  margin: 5px;
  margin-top: 12px;
}

.login-box:hover {
  box-shadow: 0 0 3pt 2pt black;
}

.signup-box:hover{
  box-shadow: 0 0 3pt 2pt black;
}

.logo {
  flex: 1;
}

.logo img {
  width: 190%;
}

form div {
  margin: 1em;
  display: inline-block;
}


.main { 
  display: flex; 
}

.all-breweries {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 3%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.show-brew {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 32px;
}

.toggle-brew button {
  margin: auto;
  margin-bottom: 1%;
}

.show-brew button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  width: 280px;
  height: 80px;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 28px;
}

.show-brew button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.show-brew button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.brewery-item {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
  width: 300px;
  height: 330px;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 0 0 4pt 3pt darkgoldenrod;
}

.brewery-item:hover {
  box-shadow: 0 0pt 8pt 7pt darkgoldenrod;
}

.brewery-item img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.brewery-name {
  text-align: center;
  vertical-align: text-bottom
}

.beer-image-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  align-content: space-between;
  justify-content: space-around;
  font-family: sans-serif;
}

.beer-image {
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
  width: 380px;
  height: 760px;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod;;
  text-align: center;
}

.beer-image:hover{
  box-shadow: 0 0 7pt 6pt darkgoldenrod;
}

.beer-image img{
  max-height: 77%;
  max-width: 77%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.beer-image h2{
  color: black;
  font-family: 'Lobster';
  font-size: 3rem;
}

.single-beer {
  margin-top: 5%;
}

.single-beer h1{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  background-color: #4F0D04;
  width: 25vw;
  color: white; 
  font-size: 80px; 
  font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: .5%;
  box-shadow: 0 0 3pt 2pt gray
}


.single-beer-description {
  display: flex;
  padding: 1.5%;
  letter-spacing: 1.5px;
  line-height: 55px;
  background-color: #4F0D04;
  color: white;
  width: 55vw;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 3pt 2pt lightgray
}

.single-beer-description h2 {
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 34px;
  font-family: 'Signika', sans-serif;
}

.single-beer-details{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  align-content: space-between;
  justify-content: space-around;
}

.single-beer-image {
  display: flex;
  width: 20%;
  flex-direction: column;
  background-color: white;
  padding: 1.5%;
  align-content: space-between;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 0 0 3pt 2pt darkgoldenrod
}

.single-beer-image:hover{
  box-shadow: 0 0 6pt 7pt darkgoldenrod;
}

.single-beer-image img{
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  min-height: 75%;
  min-width: 35%;
}

.single-brewery{
  margin-top: 5%;
}
.single-brewery h1{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  background-color: #7c795d;
  width: 25vw;
  color: white; 
  font-size: 80px; 
  font-family: 'Signika', sans-serif;
  border-radius: 15px;
  padding: .5%;
  box-shadow: 0 0 3pt 2pt gray
}
.single-brew-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  align-content: space-between;
  justify-content: space-around;
}

.single-brew-description {
  display: flex;
  flex: 1;
  margin-right: 2%;
  padding: 1.5%;
  letter-spacing: 1.5px;
  line-height: 55px;
  background-color: #7c795d;
  width: 25vw;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 3pt 2pt lightgray
}

.single-brew-description h2 {
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
}


.single-brew-image h2{
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: 'Signika', sans-serif;
}

.single-brew-image {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #7c795d;
  padding: 1.5%;
  align-content: space-between;
  justify-content: space-around;
  margin-left: 2%;
  border-radius: 15px;
  box-shadow: 0 0 3pt 2pt lightgray
}

.single-brew-image img{
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5pt 3pt gray;
  border-radius: 25px;
}

.popup-body h1 {
  margin: 0;
  padding: 0;
}
.popup-body {
  margin: 0;
  padding: 0;
  position: relative;
}
.popup {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 5;
}
.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: antiquewhite;
}

.popup_inner h1 {
  margin-top: 3%;
  font-size: 50px;
  color: black;
  background-color: antiquewhite;
  width: 100%;
  box-shadow: 0 0 0 0;
}

.popup_inner h3 {
  font-size: 30px;
  margin: 35px;
}

.popup-body button {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  right: 40px;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 15px;
  width: 460px;
}

.popup-body button:hover{
  background:#fff;
  color:#1AAB8A;
}

.popup-body button:before, .popup-body button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.popup-body button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.popup-body button:hover:before, .popup-body button:hover:after{
  width:100%;
  transition:800ms ease all;
}